@import "tailwindcss";

:root {
    font-family: "Albert Sans","Pixelify Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #000000;
    background-color: #f0f0f0;
    --primary: #000000;
    --secondary: #ffffff;
    --tertiary: #767676;
    --palette1: #3c1518;
    --palette2: #69140e;
    --palette3: ##D14836;
    --palette4: #DF6C4F;
    --selection-background-color: #f5f5f5;
    --selection-color: #000000;
    --179wema: color(display-p3 .22805077373825555 1 0);
    --border: #ffffff14;
    --neon-green:color(display-p3 .7893055832221769 1 0);
    --neon-blue:color(display-p3 0 .4759899268673947 .991869918699187);
}

::selection {
    background-color:#ed6bff;
}

body {
    margin: 0;
    cursor: auto;
    padding: 10px;
    min-height: 100vh;
    scroll-behavior: smooth;
    color: #000000;
}

h1 {
    font-size: 3em;
    line-height: 1.1;
}

h2{
    font-size: 2.16em;
    line-height: 1.1;
}

h3{
    font-size: 1.625em;
    line-height: 1.1;
}
